In [1]:
import pandas as pd

In [8]:
#credit_card_fraud_detection_datasets
credict_card_fraud=pd.read_excel(r"C:\Users\Admin\Desktop\ML Project\Capstone project\Credict card fraud detection\default of credit card clients.xls")

In [9]:
credict_card_fraud.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [10]:
credict_card_fraud.index

RangeIndex(start=0, stop=30001, step=1)

In [11]:
credict_card_fraud.columns

Index(['Unnamed: 0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9',
       'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19',
       'X20', 'X21', 'X22', 'X23', 'Y'],
      dtype='object')

In [12]:
credict_card_fraud.iloc[0,:]

Unnamed: 0                            ID
X1                             LIMIT_BAL
X2                                   SEX
X3                             EDUCATION
X4                              MARRIAGE
X5                                   AGE
X6                                 PAY_0
X7                                 PAY_2
X8                                 PAY_3
X9                                 PAY_4
X10                                PAY_5
X11                                PAY_6
X12                            BILL_AMT1
X13                            BILL_AMT2
X14                            BILL_AMT3
X15                            BILL_AMT4
X16                            BILL_AMT5
X17                            BILL_AMT6
X18                             PAY_AMT1
X19                             PAY_AMT2
X20                             PAY_AMT3
X21                             PAY_AMT4
X22                             PAY_AMT5
X23                             PAY_AMT6
Y             default payment next month
Name: 0, dtype: object

In [13]:
credict_card_fraud.shape

(30001, 25)

In [15]:
credict_card_fraud.loc[:,'Y'].head(10)

0    default payment next month
1                             1
2                             1
3                             0
4                             0
5                             0
6                             0
7                             0
8                             0
9                             0
Name: Y, dtype: object

In [22]:
total_1 =credict_card_fraud[credict_card_fraud.loc[:,'Y'] == 1 ]

In [23]:
len(total_1)

6636

In [24]:
total_0 =credict_card_fraud[credict_card_fraud.loc[:,'Y'] == 0 ]

In [25]:
len(total_0)

23364

In [28]:
total_percent_1 = len(total_1)* 100/credict_card_fraud.shape[0]

In [29]:
total_percent_1

22.119262691243627

In [30]:
len(total_0)+len(total_1)

30000